PORT=3000
NODE_ENV=development/production
DATABASE_URL="postgresql://user:password@localhost:port/databaseName?schema=public"
JWT_SECRET="replace-that-with-a-secure-random-string"
JWT_EXPIRES_IN="12h"#deafult 8h if not specified
